body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.article {
  width: 100%;
  /*min-height: 50px;*/
  border: 1px solid #efefef;
}
