<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />   
    <!--link rel="stylesheet" href="/stylesheets/jquery.wysiwyg.css" /-->   
    <% include scripts.html.ejs %>
    <script data-main="/scripts/main.js" src="/scripts/lib/require.js"></script>      
  </head>
  <body>    
    <textarea class="article edit"></textarea>
  </body>  
</html>