<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />   
    <% include scripts.html.ejs %>
    <script data-main="/scripts/controller/document.js" src="/scripts/lib/require.js"></script>
    <% include require-config.html.ejs %>
  </head>
  <body>    
    <div class="article edit"></div>
  </body>
</html>