<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <% include scripts.html.ejs %>
    <script data-main="/scripts/page/landing-page.js" src="/scripts/lib/require.js"></script>
    <% include require-config.html.ejs %>  
  </head>
  <body>    
  </body>
</html>